/* Sidebar container */
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;

  left: -255px; /* Start with the sidebar hidden */
  background-color: #f6f6f6;

  transition: 0.3s; /* Transition duration for smooth sliding effect */
  overflow-y: auto; /* Add vertical scroll if content exceeds the height */
}

/* Sidebar open state */
.sidebar.open {
  left: 0;
  top: 0;
}

/* Toggle button */
.toggle-button {
  /* background-color: #007bff;  */

  /* Button background color */
  color: black;
  /* Button text color */
  padding: 10px;
  cursor: pointer;
  display: flex;
  /* Center the icon vertically */
  justify-content: left;
  /* Center the icon horizontally */
  align-items: center;
  width: 10%;
}

/* .toggle-button:hover {
  background-color: lightgray; 
} */

/* Navigation links list */
.nav-links {
  list-style-type: none;
  padding: 0;
  margin-top: 20px; /* Add margin to separate links from button */
}

/* Navigation link items */
.nav-links li {
  margin: 10px;
}

/* Navigation link styles */
.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: 0.2s; /* Transition for link hover effect */
}

.nav-links a:hover {
  text-decoration: underline; /* Underline link on hover */
}
@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
